.heading{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.paris-paragraph{
    background-color: beige;
}
#london{
    background-color: pink;

}

.ipsum{
    border: 10px lightgreen ridge;
    margin: 5px; 
}

p span{
width: ;
border-top: 2px black solid  ;
border-bottom: 4px solid grey ;
padding: width:5px ;
margin: 0 5px;
}

