.heading{
    color: red;
}

.paris-paragraph{
    background-color: beige;
}
#london{
    background-color: pink;

}

.ipsum{
    border: 10px lightgreen ridge;
    margin: 5px; 
}

p span{
width: ;
border-top: 2px black solid  ;
border-bottom: 4px solid grey ;
padding: width:5px ;
margin: 0 5px;
}